
body {
    background-color: bisque;
    max-width: 960px;
    margin: 20px auto;
    font-family: Helvetica, sans-serif;
    font-size: large;
}
p, ul {
    margin: 0;
    padding: 0;
}

.headText {
    margin-top: 40px;
}
h3, h4, h5,.date {
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 10px;
}
h4, h5 {
    font-weight: 300;
}


li {
    /* list-style-type: none;
    background-color: rgb(128, 162, 163);
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:left;*/ 
    cursor: pointer; 
}


li p {
    margin-right: 3rem;
}
.text {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:left;
    font-size: 1.3em;
    line-height: 1.5;
}

ul :hover {
    background-color: rgb(83, 138, 141);
}

button {
    cursor: pointer;
}