
body {
    max-width: 960px;
    margin: 20px auto;
    font-family: Helvetica, sans-serif;
    font-size: large;
}
p, ul {
 margin: 0;
    padding: 0; 
}
h4, h5 {
    font-weight: 300;
}
h5 {
    margin-top: 0.5rem;
}

li {
    cursor: pointer; 
}


li p {
    margin-right: 3rem;
}
.text {

    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    align-items:center;
    justify-content:left;
}

ul :hover {
    background-color: #e9f8fa;
    cursor: pointer;
}
.shortstoriesAuthor :hover {
    background-color: rgb(245, 244, 244);
    cursor: text;
}

button {
    cursor: pointer;
}

.icon:hover {
    background-color: transparent;
    cursor: pointer;
}
.btnShow:focus {
    outline: none !important;
    box-shadow:none
  }

.jumbotron {
    padding: 2rem 2rem;
}

.container {
    padding: unset;
}

.page-item a:active{
    color:#e9f8fa;
    font-weight: bold;
}